/* Main Styling */
header {
  height: 100%;
}

/* Navbar */
#navbar {
  padding-top: 30px;
}

#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul {
  float: none;
}

#navbar ul li {
  float: none;
}

/* Showcase */
#showcase {
  padding: 50px 0;
}

.showcase-img {
  float: none;
  width: 100%;
  text-align: center;
}

.showcase-img img {
  width: 80%;
}

.showcase-text {
  float: none;
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

/* About */
#about {
  padding: 60px 0;
  text-align: center;
}

.about-title {
  float: none;
  width: 100%;
  padding-top: 0px;
}


.about-description {
  float: none;
  width: 100%;
}

/* Contact */
#contact {
  padding: 60px 20px;
  text-align: center;
}

.contact-form {
  float: none;
  width: 100%;
}

.contact-title {
  float: none;
  width: 100%;
  padding-top: 20px;
}